# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
os:
  - linux
  # - osx
julia:
  - 0.7
  - 1.0

addons:
  apt:
    packages:
    - libgtk-3-dev

notifications:
  email: false
# script:
  # - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  # - julia --project --check-bounds=yes -e 'using Pkg; Pkg.build("AutoViz"); Pkg.test("AutoViz"; coverage=true)'
  # - julia --project --check-bounds=yes -e 'using Pkg; Pkg.add(PackageSpec(url="https://github.com/sisl/Vec.jl")); Pkg.add(PackageSpec(url="https://github.com/sisl/Records.jl")); Pkg.add(PackageSpec(url="https://github.com/sisl/AutomotiveDrivingModels.jl")); Pkg.build("AutoViz"); Pkg.test("AutoViz"; coverage=true)'
after_success:
  - julia --project -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
